<% content_for :title, "Inicio - Rubies Hotel" %>
<%= stylesheet_link_tag "indice/index" %>

<nav class='submenu'>
    <ul>
        <li>+51 990338006</li>
        <li>reservas@rubies.pe</li>
        <li>Te llamamos</li>
    </ul>
</nav>
<nav class='menu'>
    <ul>
        <li>Filosofia</li>
        <li>Habitaciones</li>
        <li>Promociones</li>
        <li>Actividades</li>
        <li>Bar Restaurante</li>
    </ul>
</nav>

<h1>Bienvenido a Rubies</h1>
<p>Una experiencia sin igual</p>

<h2>Nuestros servicios</h2>
